@import "./animaciones.css";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
:root {
  --bg-color: #1f1d2b;
  --bg-elements: #252836;
  --bg-inputs:#1f1d2b;
  --text-color:#fff;
  --border-radius:25px;
  --primary-color:#d4b300;
  --primary-color-light:#e7e7e7;
}
@media all and (max-width:990px) { 
  :root { 
    --border-radius:15px;
  }
}
body {
  font-family: Inter;
  font-weight: 400;
  color:var(--text-color);
  background: var(--bg-color);
  padding-bottom: 200px;
}
h1.titulo {
    background-image: 
    linear-gradient(357deg, #f1dc39 25%, #c96e05 87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 0px;

}
h3.subtitulo {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 100;
  transform: translateY(-20px);
}
/* Buscador */
.box-buscador {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background-color:var(--bg-elements);
  padding:20px 40px;
  border-radius:var(--border-radius);
  z-index: 10;
}


.box-buscador .box-buscador__form {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr auto;
}

.box-buscador .box-buscador__col {
  position: relative;
}
.box-buscador .box-buscador__col.col--last {
  display: flex;
  align-items: end;
  gap:0px; 
}
.box-buscador .box-buscador__label {
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 7px;
  margin-left: 28px;
  color:#aeaeae
}
.box-buscador .box-buscador__text, 
.box-buscador .box-buscador__select {
  width: 100%;
  background-color: var(--bg-inputs);
  border: 0;
  color: #fff;
  padding: 15px 25px;
  border-radius: 50px;
  height: 60px;
  font-size: 1.1rem;
}
.box-buscador .box-buscador__text:focus-visible, 
.box-buscador .box-buscador__select:focus-visible {
  outline: 0;
}
.box-buscador .box-buscador__text:focus, 
.box-buscador .box-buscador__select:focus{
  border:1px solid var(--primary-color)
}
.box-buscador .box-buscador__select {
  position: relative;
  appearance: none;
  border: none;
  margin: 0;
  width: 100%;
  cursor: pointer;
}

.box-buscador .box-buscador__select + .caret {
  position: absolute;
  
  bottom:23px;
  right:20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13.0px 7.5px 0 7.5px;
  border-color: var(--bg-elements) transparent transparent transparent;
  transform: scale(0.8);
  cursor: pointer;
  pointer-events: none;
}

.box-buscador__submit {
  height: 60px;
  width: 210px;
  background-color: var(--primary-color);
  color:var(--bg-color);
  border:1px solid transparent;
  border-radius: var(--border-radius);
  padding: 15px 25px;
  cursor: pointer;
}
.box-buscador__submit:hover {
  opacity: 0.85;
}
.box-buscador__reset {
  height: 60px;
  background-color: var(--bg-elements);
  border-radius: var(--border-radius);
  padding: 15px 25px;
  cursor: pointer;
  opacity: 0.8;
  position: absolute;
  top: -31px;
}
.box-buscador__reset:hover {
  opacity: 1;
  fill:var(--primary-color);
}
.box-buscador__reset svg {
  fill: var(--primary-color-light);
} 
.box-buscador__reset:hover svg {
  fill: var(--primary-color);
  
} 

/* Box Resultado */
.box-resultado {
  padding-top: 60px;
  min-height: 400px;
}
.box-resultado ul{
  list-style: none;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap:40px;
  width: 100%;
  max-width: 1200px;
}
.box-resultado__item{
  background: var(--bg-elements);
  width: 100%;
  border-radius: 25px;
  transition: transform 0.5s;
  position: relative;
}
.box-resultado__item:hover {
  transform: scale(1.05);
  transform-origin: center center;
  box-shadow: 0 0 20px #02020285;
  z-index: 2;
}
.box-resultado__item.animacion-salida {
  animation: animacion-salida 1s forwards;
}
@keyframes animacion-salida {
  from {
   left:0
  }
  to {
   left:-100vw
  } 
}
.box-resultado__img {
  width: 100%;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  min-height: 250px;
  aspect-ratio: 1/1;
  object-fit: cover;
  background: #34384b;
}
.box-resultado__item__info {
  width: 100%;
  padding: 20px;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr auto;
  position: relative;
}
.box-resultado__h2 {
  font-size:1.7rem;
  font-weight: 400;
  color:var(--primary-color-light);
  margin: 10px 0 30px 0;
}
.box-resultado__ver {
  background-color: var(--primary-color);
  color:var(--bg-elements);
  padding: 15px 25px;
  border-radius: var(--border-radius);
  text-decoration: none;
  transition: opacity 0.25s;
  opacity: 0.9;
  margin: 0;
}

.box-resultado__ver:hover {
  opacity: 1;
}

/* Pantalla Inicial */
.pantalla-inicial {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding:20px 40px;
  position: relative;
}

.pantalla-inicial svg {
    position: absolute;
    height: 80vh!important;
    top: -10vh;
    left:0;
    z-index: 0;
    pointer-events: none;
}
/* Pantalla Error */
  .box-error {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: var(--bg-elements);
    padding: 30px 20px;
    border-radius: var(--border-radius);
  }
  .box-error h3 {
    margin: 0;
    font-weight: 100;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5;
  }
@media all and (max-width:990px) {
  body {
    padding-bottom: 100px;
  }
  h1.titulo {
    font-size:3.5rem;
    line-height: 1;
    padding-bottom: 10px;
  }
  h3.subtitulo {
    transform: none;
    margin-top: 8px;
  }
  .box-buscador {
    width: auto;
    margin: 0 20px;
    padding: 30px 20px 20px 20px;
    margin-top: 80px;
  }
  .box-buscador .box-buscador__text, 
  .box-buscador .box-buscador__select{
    text-align: center;
  }
  .box-buscador .box-buscador__form {
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .box-buscador .box-buscador__col {
    margin-bottom: 10px;
  }
  .box-buscador .box-buscador__col.col--last {
    flex-direction: column;
    align-items: center;
  }
  .box-buscador .box-buscador__label {
    margin-left: 0;
    text-align: center;
  }
  .box-resultado ul {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:20px;
  }
  .box-resultado__item:hover {
    transform: scale(1);
  }
  .box-resultado__h2 {
    margin: 10px 0 50px 0;
  }
  .box-resultado li {
    border-radius: var(--border-radius);
  }
  .box-resultado__a {
    grid-template-rows: 1fr auto;
}
  .pantalla-inicial {
    height: 40vh;
    overflow: hidden;
  }
  .pantalla-inicial svg {
    position: absolute;
    bottom: auto;
    left: 0;
    z-index: 0;
    pointer-events: none;
    top: -20vh;
  }
  .box-error {
    width: calc(100% - 40px)
  }

}
@media all and (min-width:991px) {
  .box-buscador.is--fixed {
    position: fixed;
    bottom:0px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s;
    box-shadow: 0px -5px 15px rgba(0,0,0,.25);
  }
}

/* Favorito */
.btn-favorito {
  cursor: pointer;
}
.btn-favorito.is--favorito {
  background-color:transparent;
  fill:var(--primary-color)!important;
}

.header-favoritos {
  position: absolute;
  top: -30px;
  padding: 0;
  color: #aeaeae;
  cursor: pointer;
  right: 30px;
  color: var(--primary-color-light);
  font-size: 0.9rem;
  opacity: 0.7;
  transition: all 0.25s;
}

.header-favoritos:hover {
  color: var(--primary-color);
  opacity: 1;
}
.header-favoritos .btn-favorito {
 margin-right: 10px;
 fill:var(--primary-color-light); 
}
.header-favoritos:hover .btn-favorito {
  fill:var(--primary-color); 
}

.box-resultado__favorito {
  position: absolute;
  top: -23px;
  right: 50%;
  transform: translateX(50%);
  background: var(--bg-elements);
  padding: 15px;
  border-radius: 50%;
}
.box-resultado__favorito:hover svg {
  -webkit-animation: flip-scale-up-hor 0.5s linear both alternate-reverse;
  animation: flip-scale-up-hor 0.5s linear both alternate-reverse;
} 
.box-resultado__favorito:after {
  content : attr(data-tooltip);
  font-size: 14px;
  color:var(--primary-color-light);
  background-color: #1f1d2b;
  padding: 5px 10px;
  border-radius: 10px;
  white-space: nowrap;
  display: none;
  overflow: hidden;
  position: absolute;
  left:55%;
  z-index: 10;
}
.box-resultado__favorito:hover:after {
 display: block;
}
.box-resultado__favorito .btn-favorito {
  background-color:transparent;
  fill:var(--primary-color-light);
}
.box-favoritos {
  margin-top: 60px;
}
.box-favoritos .box-favoritos__titulo {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
  border-bottom: 1px solid #252836;
  padding-bottom: 5px;
  color: #404457;
}

.mensaje-favorito {
  position: fixed;
  z-index:100 ;
  top:40px;
  right:0;
  padding: 15px 25px;
  background-color: var(--primary-color);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  animation: animacion-entrada-derecha 1s cubic-bezier(0.22,0.61,0.36,1);
  box-shadow: 5px 4px 6px 3px rgba(0,0,0,.5);
  
}
.mensaje-favorito p {
  font-size: 1.25rem;
  color:var(--bg-color);
  margin: 0;
}

@media all and (max-width:990px){
  .box-resultado__favorito:after {
    display: none!important;
  }
}